body {
    background-color: #ECEEEF;
}

.imgreduce {
    width: 20%;
    margin: 5% 7%;
    height: 20%;
    color: #ffffff;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.landingpage {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}


body {
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .nav-link {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.55);
      font-size: 14px;
      font-weight: 600;
  }
  .nav-link.active, .nav-link:hover, .nav-link:focus {
      color: #ffffff;
  }
  .navbar-nav .nav-link {
      padding: 10px 20px;
  }
  .nav-item-divider {
      width: 2px;
      height: 20px;
      margin: 10px 20px;
      background-color: rgba(255, 255, 255, 0.55);
  }
}

.lead {
  font-size: 30px;
}


@media screen and (max-width: 991px) {
  .header {
      .navbar-nav {
          margin-top: 16px;
          background: rgba(255, 255, 255, 0.15);
      }
  }
  .lead {
    font-size: 15px;
  }
  .imgreduce {
    width: 10%;
    margin: 2.5% 3.5%;
    height: 10%;
    color: #ffffff;
}
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.btn {
  padding: .4rem .9rem;
}
